openapi: 3.0.3
info:
  title: Inngest REST Account Webhooks API
  description: 'The Inngest REST API spans two surfaces: the v1 event ingestion and run inspection API used by SDKs and ad-hoc clients, and the v2 management API that covers accounts, environments, apps, webhooks, keys, function invocation, run summaries, and trace trees. Together these endpoints expose Inngest''s event-driven, durable execution platform for background jobs, workflows, and AI agent orchestration.'
  version: 2026-05
  contact:
    name: Inngest
    url: https://www.inngest.com
  license:
    name: Inngest Terms of Service
    url: https://www.inngest.com/terms
servers:
- url: https://api.inngest.com
  description: Production REST API (root, v1)
- url: https://api.inngest.com/v2
  description: Production REST API (v2 management surface)
- url: https://inn.gs
  description: Event ingestion endpoint (alias of /e/{eventKey})
- url: http://localhost:8288
  description: Local Inngest Dev Server (root, v1)
- url: http://localhost:8288/api/v2
  description: Local Inngest Dev Server (v2 management surface)
tags:
- name: Webhooks
  description: Manage inbound webhooks that translate third-party payloads into Inngest events.
paths:
  /v2/env/webhooks:
    get:
      tags:
      - Webhooks
      summary: List Webhooks
      description: Lists all inbound webhooks configured in the current environment.
      operationId: v2ListWebhooks
      responses:
        '200':
          description: A list of webhooks in the environment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2Webhook'
      security:
      - bearerAuth: []
    post:
      tags:
      - Webhooks
      summary: Create Webhook
      description: Creates a new webhook for receiving events.
      operationId: v2CreateWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                transform:
                  type: string
                  description: JavaScript transform mapping the payload to an Inngest event.
      responses:
        '201':
          description: Webhook created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Webhook'
      security:
      - bearerAuth: []
components:
  schemas:
    V2Webhook:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
          format: uri
        transform:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: signing-key
