openapi: 3.0.3
info:
  title: Inngest REST Account Environments API
  description: 'The Inngest REST API spans two surfaces: the v1 event ingestion and run inspection API used by SDKs and ad-hoc clients, and the v2 management API that covers accounts, environments, apps, webhooks, keys, function invocation, run summaries, and trace trees. Together these endpoints expose Inngest''s event-driven, durable execution platform for background jobs, workflows, and AI agent orchestration.'
  version: 2026-05
  contact:
    name: Inngest
    url: https://www.inngest.com
  license:
    name: Inngest Terms of Service
    url: https://www.inngest.com/terms
servers:
- url: https://api.inngest.com
  description: Production REST API (root, v1)
- url: https://api.inngest.com/v2
  description: Production REST API (v2 management surface)
- url: https://inn.gs
  description: Event ingestion endpoint (alias of /e/{eventKey})
- url: http://localhost:8288
  description: Local Inngest Dev Server (root, v1)
- url: http://localhost:8288/api/v2
  description: Local Inngest Dev Server (v2 management surface)
tags:
- name: Environments
  description: Manage production and branch environments for an account.
paths:
  /v2/envs:
    get:
      tags:
      - Environments
      summary: List Environments
      description: List custom and branch environments for the authenticated account.
      operationId: v2FetchAccountEnvs
      responses:
        '200':
          description: A list of environments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2Env'
      security:
      - bearerAuth: []
    post:
      tags:
      - Environments
      summary: Create Environment
      description: Creates a new custom or branch environment under the account.
      operationId: v2CreateEnv
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                type:
                  type: string
                  enum:
                  - BRANCH
                  - CUSTOM
      responses:
        '201':
          description: Environment created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Env'
      security:
      - bearerAuth: []
  /v2/envs/{id}:
    patch:
      tags:
      - Environments
      summary: Update Environment
      description: Partially updates an environment's mutable fields.
      operationId: v2PatchEnv
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Environment updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Env'
      security:
      - bearerAuth: []
components:
  schemas:
    V2Env:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - PRODUCTION
          - BRANCH
          - CUSTOM
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: signing-key
