openapi: 3.0.3
info:
  title: Inngest REST Account Events API
  description: 'The Inngest REST API spans two surfaces: the v1 event ingestion and run inspection API used by SDKs and ad-hoc clients, and the v2 management API that covers accounts, environments, apps, webhooks, keys, function invocation, run summaries, and trace trees. Together these endpoints expose Inngest''s event-driven, durable execution platform for background jobs, workflows, and AI agent orchestration.'
  version: 2026-05
  contact:
    name: Inngest
    url: https://www.inngest.com
  license:
    name: Inngest Terms of Service
    url: https://www.inngest.com/terms
servers:
- url: https://api.inngest.com
  description: Production REST API (root, v1)
- url: https://api.inngest.com/v2
  description: Production REST API (v2 management surface)
- url: https://inn.gs
  description: Event ingestion endpoint (alias of /e/{eventKey})
- url: http://localhost:8288
  description: Local Inngest Dev Server (root, v1)
- url: http://localhost:8288/api/v2
  description: Local Inngest Dev Server (v2 management surface)
tags:
- name: Events
  description: Send and inspect events that trigger Inngest functions.
paths:
  /e/{eventKey}:
    post:
      tags:
      - Events
      summary: Send Events To Inngest
      description: Sends one or more events to Inngest using an environment-scoped event key. The request body may be either a single event object or an array of event objects, up to a 512 KB total payload. Aliased at https://inn.gs/e/{eventKey}.
      operationId: sendEvents
      parameters:
      - name: eventKey
        in: path
        required: true
        description: Your environment-specific Inngest event key.
        schema:
          type: string
      - name: x-inngest-env
        in: header
        required: false
        description: Optional branch environment to target.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/Event'
              - type: array
                items:
                  $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Events accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Invalid event key.
  /v1/events:
    get:
      tags:
      - Events
      summary: List Recent Events
      description: Returns recent events received by Inngest in the current environment, optionally filtered by event name.
      operationId: listEvents
      parameters:
      - name: name
        in: query
        required: false
        description: Filter events by event name.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: A page of events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
      security:
      - bearerAuth: []
  /v1/events/{eventId}:
    get:
      tags:
      - Events
      summary: Get An Event By ID
      description: Returns a single event by its ID, including the payload and ingestion metadata.
      operationId: getEvent
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Event details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: Event not found.
      security:
      - bearerAuth: []
  /v1/events/{eventId}/runs:
    get:
      tags:
      - Events
      summary: List Runs Triggered By An Event
      description: Lists the function runs that were triggered by a single ingested event.
      operationId: listEventRuns
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Runs associated with the event.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Run'
      security:
      - bearerAuth: []
components:
  schemas:
    Run:
      type: object
      properties:
        run_id:
          type: string
        function_id:
          type: string
        status:
          type: string
          enum:
          - Running
          - Completed
          - Failed
          - Cancelled
        event_id:
          type: string
        output:
          type: object
          additionalProperties: true
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
    Event:
      type: object
      required:
      - name
      - data
      properties:
        id:
          type: string
          description: Optional deduplication ID.
        name:
          type: string
          description: Event name (e.g. app/user.created).
        data:
          type: object
          additionalProperties: true
          description: Arbitrary JSON payload.
        user:
          type: object
          additionalProperties: true
        ts:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds.
        v:
          type: string
          description: Optional event version.
    EventResponse:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
        status:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: signing-key
