openapi: 3.0.3
info:
  title: Inngest REST Account Runs API
  description: 'The Inngest REST API spans two surfaces: the v1 event ingestion and run inspection API used by SDKs and ad-hoc clients, and the v2 management API that covers accounts, environments, apps, webhooks, keys, function invocation, run summaries, and trace trees. Together these endpoints expose Inngest''s event-driven, durable execution platform for background jobs, workflows, and AI agent orchestration.'
  version: 2026-05
  contact:
    name: Inngest
    url: https://www.inngest.com
  license:
    name: Inngest Terms of Service
    url: https://www.inngest.com/terms
servers:
- url: https://api.inngest.com
  description: Production REST API (root, v1)
- url: https://api.inngest.com/v2
  description: Production REST API (v2 management surface)
- url: https://inn.gs
  description: Event ingestion endpoint (alias of /e/{eventKey})
- url: http://localhost:8288
  description: Local Inngest Dev Server (root, v1)
- url: http://localhost:8288/api/v2
  description: Local Inngest Dev Server (v2 management surface)
tags:
- name: Runs
  description: Fetch the status, jobs, and trace trees of function runs.
paths:
  /v1/runs/{runId}:
    get:
      tags:
      - Runs
      summary: Get Function Run Status
      description: Returns the canonical status, output, and step history for a function run.
      operationId: getRun
      parameters:
      - name: runId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Run details including status, output, and step history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '404':
          description: Run not found.
      security:
      - bearerAuth: []
  /v1/runs/{runId}/jobs:
    get:
      tags:
      - Runs
      summary: List The Jobs (Steps) For A Run
      description: Returns the step-level job records for a function run, including timing, attempts, and outputs.
      operationId: listRunJobs
      parameters:
      - name: runId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Step-level job records for the run.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
      security:
      - bearerAuth: []
  /v1/runs/{runId}/cancel:
    post:
      tags:
      - Runs
      summary: Cancel A Function Run
      description: Cancels a function run that is queued, running, or paused.
      operationId: cancelRun
      parameters:
      - name: runId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Cancellation accepted.
        '404':
          description: Run not found.
      security:
      - bearerAuth: []
  /v2/runs/{runId}:
    get:
      tags:
      - Runs
      summary: Get Function Run (v2)
      description: Fetches the canonical run summary. Beta.
      operationId: v2GetFunctionRun
      parameters:
      - name: runId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Function run details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2FunctionRun'
      security:
      - bearerAuth: []
  /v2/runs/{runId}/trace:
    get:
      tags:
      - Runs
      summary: Get Function Trace
      description: Fetches the trace tree for a single function run. Beta.
      operationId: v2GetFunctionTrace
      parameters:
      - name: runId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Trace tree for the run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2FunctionTrace'
      security:
      - bearerAuth: []
components:
  schemas:
    Run:
      type: object
      properties:
        run_id:
          type: string
        function_id:
          type: string
        status:
          type: string
          enum:
          - Running
          - Completed
          - Failed
          - Cancelled
        event_id:
          type: string
        output:
          type: object
          additionalProperties: true
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
    V2FunctionRun:
      type: object
      properties:
        run_id:
          type: string
        function_id:
          type: string
        app_id:
          type: string
        status:
          type: string
          enum:
          - QUEUED
          - RUNNING
          - COMPLETED
          - FAILED
          - CANCELLED
          - PAUSED
        event_id:
          type: string
        output:
          type: object
          additionalProperties: true
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
    V2TraceSpan:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        op:
          type: string
          enum:
          - RUN
          - SLEEP
          - WAITFOREVENT
          - INVOKE
          - AI
          - AICALL
          - FETCH
          - RUN_STEP
        status:
          type: string
          enum:
          - RUNNING
          - COMPLETED
          - FAILED
          - CANCELLED
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
        attempt:
          type: integer
        attributes:
          type: object
          additionalProperties: true
        children:
          type: array
          items:
            $ref: '#/components/schemas/V2TraceSpan'
    V2FunctionTrace:
      type: object
      properties:
        run_id:
          type: string
        root:
          $ref: '#/components/schemas/V2TraceSpan'
    Job:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
        output:
          type: object
          additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: signing-key
