openapi: 3.0.3
info:
  title: Inngest REST Account Functions API
  description: 'The Inngest REST API spans two surfaces: the v1 event ingestion and run inspection API used by SDKs and ad-hoc clients, and the v2 management API that covers accounts, environments, apps, webhooks, keys, function invocation, run summaries, and trace trees. Together these endpoints expose Inngest''s event-driven, durable execution platform for background jobs, workflows, and AI agent orchestration.'
  version: 2026-05
  contact:
    name: Inngest
    url: https://www.inngest.com
  license:
    name: Inngest Terms of Service
    url: https://www.inngest.com/terms
servers:
- url: https://api.inngest.com
  description: Production REST API (root, v1)
- url: https://api.inngest.com/v2
  description: Production REST API (v2 management surface)
- url: https://inn.gs
  description: Event ingestion endpoint (alias of /e/{eventKey})
- url: http://localhost:8288
  description: Local Inngest Dev Server (root, v1)
- url: http://localhost:8288/api/v2
  description: Local Inngest Dev Server (v2 management surface)
tags:
- name: Functions
  description: List and invoke deployed Inngest functions.
paths:
  /v1/functions:
    get:
      tags:
      - Functions
      summary: List Functions
      description: Lists all functions deployed to the current Inngest environment.
      operationId: listFunctions
      responses:
        '200':
          description: Deployed functions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Function'
      security:
      - bearerAuth: []
  /v2/apps/{appId}/functions/{functionId}/invoke:
    post:
      tags:
      - Functions
      summary: Invoke Function
      description: Invokes a deployed Inngest function asynchronously or synchronously.
      operationId: v2InvokeFunction
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
      - name: functionId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  additionalProperties: true
                user:
                  type: object
                  additionalProperties: true
                async:
                  type: boolean
      responses:
        '200':
          description: Invocation accepted.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      security:
      - bearerAuth: []
components:
  schemas:
    Function:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        triggers:
          type: array
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: signing-key
