openapi: 3.0.3
info:
  title: Inngest REST Account Keys API
  description: 'The Inngest REST API spans two surfaces: the v1 event ingestion and run inspection API used by SDKs and ad-hoc clients, and the v2 management API that covers accounts, environments, apps, webhooks, keys, function invocation, run summaries, and trace trees. Together these endpoints expose Inngest''s event-driven, durable execution platform for background jobs, workflows, and AI agent orchestration.'
  version: 2026-05
  contact:
    name: Inngest
    url: https://www.inngest.com
  license:
    name: Inngest Terms of Service
    url: https://www.inngest.com/terms
servers:
- url: https://api.inngest.com
  description: Production REST API (root, v1)
- url: https://api.inngest.com/v2
  description: Production REST API (v2 management surface)
- url: https://inn.gs
  description: Event ingestion endpoint (alias of /e/{eventKey})
- url: http://localhost:8288
  description: Local Inngest Dev Server (root, v1)
- url: http://localhost:8288/api/v2
  description: Local Inngest Dev Server (v2 management surface)
tags:
- name: Keys
  description: Manage event keys and signing keys per environment.
paths:
  /v2/keys/events:
    get:
      tags:
      - Keys
      summary: List Event Keys
      description: Lists event keys (used for /e/{eventKey} ingestion) for the account.
      operationId: v2FetchAccountEventKeys
      responses:
        '200':
          description: Event keys for the account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2EventKey'
      security:
      - bearerAuth: []
  /v2/keys/signing:
    get:
      tags:
      - Keys
      summary: List Signing Keys
      description: Lists signing keys (used to authenticate management API calls) for the account.
      operationId: v2FetchAccountSigningKeys
      responses:
        '200':
          description: Signing keys for the account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2SigningKey'
      security:
      - bearerAuth: []
components:
  schemas:
    V2SigningKey:
      type: object
      properties:
        id:
          type: string
        prefix:
          type: string
        createdAt:
          type: string
          format: date-time
    V2EventKey:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        prefix:
          type: string
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: signing-key
