openapi: 3.0.3
info:
  title: Inngest REST API
  description: >-
    The Inngest REST API spans two surfaces: the v1 event ingestion and run
    inspection API used by SDKs and ad-hoc clients, and the v2 management API
    that covers accounts, environments, apps, webhooks, keys, function
    invocation, run summaries, and trace trees. Together these endpoints expose
    Inngest's event-driven, durable execution platform for background jobs,
    workflows, and AI agent orchestration.
  version: '2026-05'
  contact:
    name: Inngest
    url: https://www.inngest.com
  license:
    name: Inngest Terms of Service
    url: https://www.inngest.com/terms
servers:
  - url: https://api.inngest.com
    description: Production REST API (root, v1)
  - url: https://api.inngest.com/v2
    description: Production REST API (v2 management surface)
  - url: https://inn.gs
    description: Event ingestion endpoint (alias of /e/{eventKey})
  - url: http://localhost:8288
    description: Local Inngest Dev Server (root, v1)
  - url: http://localhost:8288/api/v2
    description: Local Inngest Dev Server (v2 management surface)
tags:
  - name: Events
    description: Send and inspect events that trigger Inngest functions.
  - name: Runs
    description: Fetch the status, jobs, and trace trees of function runs.
  - name: Functions
    description: List and invoke deployed Inngest functions.
  - name: Apps
    description: Sync app endpoints exposing Inngest functions.
  - name: Environments
    description: Manage production and branch environments for an account.
  - name: Webhooks
    description: Manage inbound webhooks that translate third-party payloads into Inngest events.
  - name: Keys
    description: Manage event keys and signing keys per environment.
  - name: Account
    description: Account-level details for the authenticated user.
paths:
  /e/{eventKey}:
    post:
      tags:
        - Events
      summary: Send Events To Inngest
      description: >-
        Sends one or more events to Inngest using an environment-scoped event
        key. The request body may be either a single event object or an array
        of event objects, up to a 512 KB total payload. Aliased at
        https://inn.gs/e/{eventKey}.
      operationId: sendEvents
      parameters:
        - name: eventKey
          in: path
          required: true
          description: Your environment-specific Inngest event key.
          schema:
            type: string
        - name: x-inngest-env
          in: header
          required: false
          description: Optional branch environment to target.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Event'
                - type: array
                  items:
                    $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Events accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Invalid event key.
  /v1/events:
    get:
      tags:
        - Events
      summary: List Recent Events
      description: Returns recent events received by Inngest in the current environment, optionally filtered by event name.
      operationId: listEvents
      parameters:
        - name: name
          in: query
          required: false
          description: Filter events by event name.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: A page of events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
      security:
        - bearerAuth: []
  /v1/events/{eventId}:
    get:
      tags:
        - Events
      summary: Get An Event By ID
      description: Returns a single event by its ID, including the payload and ingestion metadata.
      operationId: getEvent
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: Event not found.
      security:
        - bearerAuth: []
  /v1/events/{eventId}/runs:
    get:
      tags:
        - Events
      summary: List Runs Triggered By An Event
      description: Lists the function runs that were triggered by a single ingested event.
      operationId: listEventRuns
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Runs associated with the event.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Run'
      security:
        - bearerAuth: []
  /v1/runs/{runId}:
    get:
      tags:
        - Runs
      summary: Get Function Run Status
      description: Returns the canonical status, output, and step history for a function run.
      operationId: getRun
      parameters:
        - name: runId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Run details including status, output, and step history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '404':
          description: Run not found.
      security:
        - bearerAuth: []
  /v1/runs/{runId}/jobs:
    get:
      tags:
        - Runs
      summary: List The Jobs (Steps) For A Run
      description: Returns the step-level job records for a function run, including timing, attempts, and outputs.
      operationId: listRunJobs
      parameters:
        - name: runId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Step-level job records for the run.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
      security:
        - bearerAuth: []
  /v1/runs/{runId}/cancel:
    post:
      tags:
        - Runs
      summary: Cancel A Function Run
      description: Cancels a function run that is queued, running, or paused.
      operationId: cancelRun
      parameters:
        - name: runId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cancellation accepted.
        '404':
          description: Run not found.
      security:
        - bearerAuth: []
  /v1/functions:
    get:
      tags:
        - Functions
      summary: List Functions
      description: Lists all functions deployed to the current Inngest environment.
      operationId: listFunctions
      responses:
        '200':
          description: Deployed functions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Function'
      security:
        - bearerAuth: []
  /v2/account:
    get:
      tags:
        - Account
      summary: Get Account
      description: Returns the account for the authenticated user.
      operationId: v2FetchAccount
      responses:
        '200':
          description: Account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Account'
      security:
        - bearerAuth: []
  /v2/envs:
    get:
      tags:
        - Environments
      summary: List Environments
      description: List custom and branch environments for the authenticated account.
      operationId: v2FetchAccountEnvs
      responses:
        '200':
          description: A list of environments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2Env'
      security:
        - bearerAuth: []
    post:
      tags:
        - Environments
      summary: Create Environment
      description: Creates a new custom or branch environment under the account.
      operationId: v2CreateEnv
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                type:
                  type: string
                  enum: [BRANCH, CUSTOM]
      responses:
        '201':
          description: Environment created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Env'
      security:
        - bearerAuth: []
  /v2/envs/{id}:
    patch:
      tags:
        - Environments
      summary: Update Environment
      description: Partially updates an environment's mutable fields.
      operationId: v2PatchEnv
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Environment updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Env'
      security:
        - bearerAuth: []
  /v2/apps/{appId}/syncs:
    post:
      tags:
        - Apps
      summary: Sync App
      description: Sync an app at the provided URL. Beta.
      operationId: v2SyncApp
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
      responses:
        '200':
          description: Sync result.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      security:
        - bearerAuth: []
  /v2/apps/{appId}/functions/{functionId}/invoke:
    post:
      tags:
        - Functions
      summary: Invoke Function
      description: Invokes a deployed Inngest function asynchronously or synchronously.
      operationId: v2InvokeFunction
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: functionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  additionalProperties: true
                user:
                  type: object
                  additionalProperties: true
                async:
                  type: boolean
      responses:
        '200':
          description: Invocation accepted.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      security:
        - bearerAuth: []
  /v2/env/webhooks:
    get:
      tags:
        - Webhooks
      summary: List Webhooks
      description: Lists all inbound webhooks configured in the current environment.
      operationId: v2ListWebhooks
      responses:
        '200':
          description: A list of webhooks in the environment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2Webhook'
      security:
        - bearerAuth: []
    post:
      tags:
        - Webhooks
      summary: Create Webhook
      description: Creates a new webhook for receiving events.
      operationId: v2CreateWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                transform:
                  type: string
                  description: JavaScript transform mapping the payload to an Inngest event.
      responses:
        '201':
          description: Webhook created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Webhook'
      security:
        - bearerAuth: []
  /v2/keys/events:
    get:
      tags:
        - Keys
      summary: List Event Keys
      description: Lists event keys (used for /e/{eventKey} ingestion) for the account.
      operationId: v2FetchAccountEventKeys
      responses:
        '200':
          description: Event keys for the account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2EventKey'
      security:
        - bearerAuth: []
  /v2/keys/signing:
    get:
      tags:
        - Keys
      summary: List Signing Keys
      description: Lists signing keys (used to authenticate management API calls) for the account.
      operationId: v2FetchAccountSigningKeys
      responses:
        '200':
          description: Signing keys for the account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2SigningKey'
      security:
        - bearerAuth: []
  /v2/runs/{runId}:
    get:
      tags:
        - Runs
      summary: Get Function Run (v2)
      description: Fetches the canonical run summary. Beta.
      operationId: v2GetFunctionRun
      parameters:
        - name: runId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Function run details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2FunctionRun'
      security:
        - bearerAuth: []
  /v2/runs/{runId}/trace:
    get:
      tags:
        - Runs
      summary: Get Function Trace
      description: Fetches the trace tree for a single function run. Beta.
      operationId: v2GetFunctionTrace
      parameters:
        - name: runId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Trace tree for the run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2FunctionTrace'
      security:
        - bearerAuth: []
  /v2/partner/accounts:
    get:
      tags:
        - Account
      summary: List Partner Accounts
      description: Lists sub-accounts. Requires partner access.
      operationId: v2FetchPartnerAccounts
      responses:
        '200':
          description: Partner sub-accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2Account'
      security:
        - bearerAuth: []
    post:
      tags:
        - Account
      summary: Create Partner Account
      description: Creates a sub-account. Requires partner access.
      operationId: v2CreatePartnerAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
      responses:
        '201':
          description: Partner account created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Account'
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: signing-key
  schemas:
    Event:
      type: object
      required:
        - name
        - data
      properties:
        id:
          type: string
          description: Optional deduplication ID.
        name:
          type: string
          description: Event name (e.g. app/user.created).
        data:
          type: object
          additionalProperties: true
          description: Arbitrary JSON payload.
        user:
          type: object
          additionalProperties: true
        ts:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds.
        v:
          type: string
          description: Optional event version.
    EventResponse:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
        status:
          type: integer
    Run:
      type: object
      properties:
        run_id:
          type: string
        function_id:
          type: string
        status:
          type: string
          enum:
            - Running
            - Completed
            - Failed
            - Cancelled
        event_id:
          type: string
        output:
          type: object
          additionalProperties: true
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
    Job:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
        output:
          type: object
          additionalProperties: true
    Function:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        triggers:
          type: array
          items:
            type: object
            additionalProperties: true
    V2Account:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        createdAt:
          type: string
          format: date-time
    V2Env:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [PRODUCTION, BRANCH, CUSTOM]
        createdAt:
          type: string
          format: date-time
    V2Webhook:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
          format: uri
        transform:
          type: string
    V2EventKey:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        prefix:
          type: string
        createdAt:
          type: string
          format: date-time
    V2SigningKey:
      type: object
      properties:
        id:
          type: string
        prefix:
          type: string
        createdAt:
          type: string
          format: date-time
    V2FunctionRun:
      type: object
      properties:
        run_id:
          type: string
        function_id:
          type: string
        app_id:
          type: string
        status:
          type: string
          enum: [QUEUED, RUNNING, COMPLETED, FAILED, CANCELLED, PAUSED]
        event_id:
          type: string
        output:
          type: object
          additionalProperties: true
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
    V2FunctionTrace:
      type: object
      properties:
        run_id:
          type: string
        root:
          $ref: '#/components/schemas/V2TraceSpan'
    V2TraceSpan:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        op:
          type: string
          enum: [RUN, SLEEP, WAITFOREVENT, INVOKE, AI, AICALL, FETCH, RUN_STEP]
        status:
          type: string
          enum: [RUNNING, COMPLETED, FAILED, CANCELLED]
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
        attempt:
          type: integer
        attributes:
          type: object
          additionalProperties: true
        children:
          type: array
          items:
            $ref: '#/components/schemas/V2TraceSpan'
